<p id="notice"><%= notice %></p>

<p>
  <strong>Starttime:</strong>
  <%= @interview.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @interview.endTime %>
</p>

<p>
  <strong>Interviewdate:</strong>
  <%= @interview.interviewDate %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @interview.participants %>
</p>

<p>
  <strong>Title:</strong>
  <%= @interview.title %>
</p>
<p>
  <strong>Resume:</strong>
  <%= link_to 'Download', rails_blob_path(@interview.resume, disposition: 'attachment') %>
</p>
<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
